/* This stylesheet styles elements on the structure page. */

/* Declare variables for the stylesheet.*/

.question-section-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.question-type-header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
}

.question-section-image-container{
    grid-column: 1;
    grid-row: 2;
}

.question-description-container{
    grid-column: 2;
    grid-row: 2;
}

.sample-response-container {
grid-column: 3;
grid-row: 2;
}

.sample-question-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}