/* This stylesheet styles elements on the structure page. */
section {
    margin-top: 5em;
    width: 100%;
   
    height: auto;
}

.exam-term {
    font-style: italic;
}

.question-section-container {

    grid-template-areas: 
    "question-type-header question-type-header"
    "question-description sample-response"
    "sample-questions sample-questions"
    ;
    grid-template-rows: auto auto auto;
    grid-template-columns: minmax(270px, 600px) minmax(270px, 600px); 
    justify-content: center;
}

.question-type-header{
   grid-area: question-type-header;
   text-align: left; 
   background-color: white;
   padding-bottom: 0.5em;
}


.question-section-image-container{
grid-area: question-section-image;
padding: 2em;
}

.question-description-container{

background-color: rgba(213, 212, 210,0.7);
 grid-area: question-description;
 padding: 2em;
 
}

.sample-response-container {
background-color: rgba(252, 246, 189, 0.8);
grid-area: sample-response;
padding: 2em;

}

.sample-question-container{
    background-color: rgba(191, 207, 255, 0.7);
    grid-area: sample-questions;
    padding: 2em;
}

#quesion1-section{

    background: url("../images/brain-transparent.webp") no-repeat center center;
}

#question2-section {

    background: url("../images/lego-transparent.webp") no-repeat center center;
}

#question3-section {

    background: url("../images/write-transparent.webp") no-repeat center center;
}

#question4-section {
  
    background: url("../images/essay-transparent.webp") no-repeat center center;
}

@media only screen and (max-width: 600px) {
    .question-section-container {
        grid-template-areas:
        "question-type-header"
        "question-description"
        "sample-response"
        "sample-questions"
        ;

    }

    .question-section-image-container img {
        visibility: hidden;
    }
}