/* This stylesheet styles elements on the structure page. */


.exam-term {
    font-style: italic;
}
.question-section-container {

    grid-template-areas: 
    "question-type-header question-type-header"
    "question-description sample-response"
    "sample-questions sample-questions"
    ;
    grid-template-rows: 75px 250px 1fr;
    grid-template-columns: minmax(270px, 400px) minmax(270px, 400px); 
    justify-content: center;
}

.question-type-header{
   grid-area: question-type-header;
   text-align: center;   
}


.question-section-image-container{
grid-area: question-section-image;
padding: 2em;
}

.question-description-container{


 grid-area: question-description;
 padding: 2em;
 
}

.sample-response-container {
grid-area: sample-response;
padding: 2em;

}

.sample-question-container{
    grid-area: sample-questions;
    padding: 2em;
}

#quesion1-section{
    width: 100%;
    height: 600px;
    background: url("../images/brain-transparent.webp") no-repeat center center;
}

@media only screen and (max-width: 600px) {
    .question-section-container {
        grid-template-areas:
        "question-type-header"
        "question-description"
        "sample-response"
        "sample-questions"
        ;

    }

    .question-section-image-container img {
        visibility: hidden;
    }
}