/* 
This is the core style sheet.
*/

/* Declare variables for the stylesheet.*/
:root {

    --primary-color-dark: #0000ff;
    --secondary-color-dark: #002db3;
    --primary-accent: #bfcfff;
    --secondary-accent: #809fff;
    --primary-color-dark: #0000ff;
    --secondary-color-dark: #002db3;
    --primary-accent: #bfcfff;
    --secondary-accent: #809fff;

    --bright-text-color: white;
    --normal-text-color: #3a3a3a;
    --dark-text-color: black;
    
    --footer-background-color: grey;
    --card-background-color: aliceblue;

    --debug-color: #fafa00;
    --secondary-debug-color: red;
    --tertiary-debug-color: green;
    --quaternary-debug-color: orange;
    --quintal-debug-color: brown;
    --image-debug-background-color: violet;

}

/* Import the fonts. */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Nunito+Sans:wght@300&display=swap');



/* Start by setting the style for the whole document. This ensures the entire screen is used.*/
* {
    margin: 0;
    padding: 0;
    border: none;
}


