/* 
This is the core style sheet.
*/

:root {
    --debug-color: #fafa00;

    --main-theme-color: rgb(13, 193, 253);

    --text-color: #3a3a3a;

}

/* Import the fonts. */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Nunito+Sans:wght@300&display=swap');

/* Declare variables for the stylesheet.*/


/* Start by setting the style for the whole document. This ensures the entire screen is used.*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Set the body background */
body{
    background-color: var(--main-theme-color);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
}

/* 
Style the header.
*/
header {
 
}

#logo-image {
    float: left;
    height: 150px;
 
}
/* 
Style the list in the nav bar.
 */

 nav {
    font-size: 120%;
    line-height: 75px;
 }

 #logo-text {
    float: left;
    line-height: 75px;
    color: white;
    background-color: var(--main-theme-color);
 }

 nav ul {
    float: right;
 }

 nav li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
 }

 nav a {
    text-decoration: none;
    color:rgb(43, 45, 46) ;
 }

 section {
    clear: both;
 }



 /* Format the hero image section. */
 #hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--debug-color);
 }

 #hero-image {
    width: 50%;
    height: 600px;
    background-color: blue;
    float: left;
    background: url("https://c.pxhere.com/images/74/ae/3a6240646f7e6700fd5c2794d63e-1639699.jpg!d") no-repeat left center; 
 
 }

 #hero-main-text {
   width: 50%;
   height: 600px;
   background-color: blueviolet;
   float:right;
 }
 /* 
 This class delcaration is for development purposes only.
 */

 .current-dev-section {
    height: 75px;
    background-color:var(--debug-color);
 }